[submodule "src/include/stm_cmsis"]
	path = src/include/stm_cmsis
	url = https://github.com/STMicroelectronics/cmsis_device_wb
[submodule "src/include/stm_hal"]
	path = src/include/stm_hal
	url = https://github.com/STMicroelectronics/stm32wbxx_hal_driver
[submodule "src/include/arm_cmsis"]
	path = src/include/arm_cmsis
	url = https://github.com/ARM-software/CMSIS_6
[submodule "src/include/lvgl"]
	path = src/include/lvgl
	url = https://github.com/lvgl/lvgl
	branch = release/v9.1
[submodule "src/include/button_debouncer"]
	path = src/include/button_debouncer
	url = https://github.com/tcleg/Button_Debouncer.git
