[submodule "libs/cmsis_device_wb"] # v1.12.1
	path = libs/cmsis_device_wb
	url = https://github.com/STMicroelectronics/cmsis_device_wb.git
[submodule "libs/stm32wbxx_hal_driver"] # v1.14.2
	path = libs/stm32wbxx_hal_driver
	url = https://github.com/STMicroelectronics/stm32wbxx_hal_driver.git
[submodule "libs/CMSIS_6"] # v6.0.0
	path = libs/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6.git
[submodule "libs/lvgl"] # v9.1
	path = libs/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v9.1
[submodule "libs/Button_Debouncer"] # No ver.
	path = libs/Button_Debouncer
	url = https://github.com/tcleg/Button_Debouncer.git
[submodule "libs/FreeRTOS"] # V10.4.1
	path = libs/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git
